/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
      License: none (public domain)
      */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
        padding: 0;
            border: 0;
                font-size: 100%;
                    font: inherit;
                        vertical-align: baseline;
                        }
                        /* HTML5 display-role reset for older browsers */
                        article, aside, details, figcaption, figure, 
                        footer, header, hgroup, menu, nav, section {
                            display: block;
                            }
                            body {
                                line-height: 1;
                                }
                                ol, ul {
                                    list-style: none;
                                    }
                                    blockquote, q {
                                        quotes: none;
                                        }
                                        blockquote:before, blockquote:after,
                                        q:before, q:after {
                                            content: '';
                                                content: none;
                                                }
                                                table {
                                                    border-collapse: collapse;
                                                        border-spacing: 0;
														}
body {
  font:16px/28px arial , sans-serif;
  background-color:#eaeaea;
  color:#333333;
}


.container {
  width:960px;
  margin:auto;;
  background-color:#fff;
}


.header {
  padding:20px;
}



.header .judul {
  font-size:40px;
  font-weight:bold;
}


.header ul li {
  display:inline-block;
  margin-top:20px;
  margin-right:3px;
}



.header a {
  text-decoration:none;
  color:Salmon;
}

.main .tag {
  text-decoration:none;
  color:Salmon;
}



.header a:hover{
  background-color:LightBlue;
}


.hero {
  height:320px;
  background-image:url(malaria.png);
  background-size:cover;
  background-position:0px -180px;
  border-top:5px solid LightBlue;
  border-bottom:5px solid Salmon;
}
 

.content h3 {
  font-size:20px;
  font-weight:bold;
}

.main {
  width:600px;
  padding:20px;
  box-sizing:border-box;
  float:left;
}

.footer {
  background-color:#333;
  padding:10px;
}


.footer .copy {
  color:#eaeaea ;
  text-align:center;%
  font-size:12px;
}

/* css clear*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
        display: table; /* 2 */
        }
.cf:after {
    clear: both;
    }
    .cf {
        *zoom: 1;
        *}
        
        
.sidebar {
  width:300px;
  float:right;
  padding:20px
}

.sidebar h3{
  font-weight:bold;
  color:#aeaeae;
}
.sidebar img {
  width:70px;
  height:70px;
  float:left;
  padding-right:20px ;
}

.sidebar a {
  text-decoration:none;
  color:Salmon;
}
